<html>
    <head>
        <script>
        async  function getUserAsync(quest) 
{
  //debugger;
  //var string = "how%20much%20i%20need%20to%20pay";
  var url = "http://127.0.0.1:5000/test_connection/in="+quest;
  let response = await fetch(url);
  let data = await response.json();
  //console.log(data.ans)
  var ott = data.ans;
    return ott;
}
function ret(astha){
  document.getElementById("chatLog").innerHTML += "UG: "+astha+"<br>"+"<br>";
}
                function talk() {
                var user = document.getElementById("userBox").value;
                document.getElementById("userBox").value = "";
                document.getElementById("chatLog").innerHTML += "You: "+user+"<br>"+"<br>";
                getUserAsync(user).then(ott => ret(ott));
                //getUserAsync(); 
                //var otherthing = "yaha nayi value dalni h from fetch"
                //var otherthing = getUserAsync();
                //document.getElementById("chatLog").innerHTML += otherthing+"<br>";
                }
        </script>
    </head>
    <body>
        <p id="chatLog">- - University CHATBOT - -<br></p>
        <input id="userBox" type="text" onkeydown="if (event.keyCode == 13) {talk()}">
    </body>
</html>